/* Nieve */
@keyframes snow {
  0% { transform: translateY(-10px); opacity: 1; }
  100% { transform: translateY(100vh); opacity: 0; }
}

.snowflake {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 1rem;
  color: white;
  animation: snow linear infinite;
}



.reno-corriendo {
    position: fixed;
    top: 20px;
    left: 110%;          /* Empieza fuera por la derecha */
    font-size: 3rem;
    animation: correrReno 20s linear infinite;
    z-index: 9999;
    transform: scaleX(1); /* Mira hacia la izquierda (su dirección natural) */
}

@keyframes correrReno {
    0% {
        left: 110%;   /* Inicio: fuera de la pantalla por la derecha */
    }
    100% {
        left: -150px; /* Fin: sale por la izquierda */
    }
}

.city-img {
  height: 110px;
  object-fit: cover;
  border-bottom: 2px solid rgba(255,255,255,0.4);
}

/* Papá Noel base */
.papa-noel {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 4rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 9999;
}

/* Salta al pasar el mouse */
.papa-noel:hover {
    transform: translateY(-25px) scale(1.2);
}

