.weather-app__header {
  background: linear-gradient(90deg, $color-header-start, $color-header-end);
  border-bottom: 3px solid $color-header-border;
  color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.weather-app__navbar .weather-app__nav-link {
  text-shadow: 0 0 4px $color-header-text-shadow;
  font-weight: $font-weight-bold;
}
